<div class="body1">
    <div class="dropdown">
        <button class="dropbtn">
            Usuario: <span style=" text-transform: uppercase;"> {{ session }} </span> </button>
        <div class="dropdown-content">
            <a href="javascript:void(0)" (click)="cerrarSesion()">Cerrar Sesión</a>
            <a href="javascript:void(0)" (click)="cambiarUsuario()">Cambiar Usuario</a>
        </div>
    </div>

    <h2>Encuesta</h2>
    <form (ngSubmit)="enviarRespuestas()" [formGroup]="encuestaForm">
        <div class="mb-3">
            <label for="nombre_user" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="nombre_user" placeholder="Pepito" formControlName="nombre_user" readonly>
        </div>

        <br><div class="pregunta">
            <label class="e1">Pregunta 1:</label> <br> ¿Estás satisfecho con la variedad de productos disponibles? <br>
            <input type="radio" formControlName="e1" value="Si"> Si
            <input type="radio" formControlName="e1" value="No"> No
        </div>
        <br>
        <div class="pregunta">
            <label class="e2">Pregunta 2:</label><br> ¿Encontraste útil la ayuda de nuestro personal cuando necesitaste
            asistencia?<br>
            <input type="radio" formControlName="e2" value="Si"> Si
            <input type="radio" formControlName="e2" value="No"> No
        </div>
        <br>
        <div class="pregunta">
            <label class="e3">Pregunta 3:</label><br> ¿Es buena la limpieza general de nuestra tienda? <br>
            <input type="radio" formControlName="e3" value="Si"> Si
            <input type="radio" formControlName="e3" value="No"> No
        </div>
        <br>
        <div class="pregunta">
            <label class="e4">Pregunta 4:</label><br> ¿Recomendarías nuestro supermercado a familiares y amigos? <br>
            <input type="radio" formControlName="e4" value="Si"> Si
            <input type="radio" formControlName="e4" value="No"> No
        </div>
        <br>
        <div class="pregunta">
            <label class="e5">Pregunta 5:</label><br> ¿Estás satisfecho con la relación calidad-precio de los productos
            que compraste? <br>
            <input type="radio" formControlName="e5" value="Si"> Si
            <input type="radio" formControlName="e5" value="No"> No
        </div>
        <br>
        <div class="pregunta">
            <label class="e6">Pregunta 6:</label><br> ¿La tienda ofrecía suficientes cajas abiertas para evitar largas
            colas? <br>
            <input type="radio" formControlName="e6" value="Si"> Si
            <input type="radio" formControlName="e6" value="No"> No
        </div>
        <br>
        <div class="pregunta">
            <label class="e7">Pregunta 7:</label><br> ¿Cuál es la probabilidad de que vuelvas a comprar en nuestro
            supermercado? <br>
            <input type="radio" formControlName="e7" value="Si"> Si
            <input type="radio" formControlName="e7" value="No"> No
        </div>
        <br>
        <div>
            <input class="inpt-btn" type="submit" name="boton" value="Enviar" />
        </div>
    </form>
    <button (click)="goHome()" name="boton" value="volver" id="espacio">Volver Atras</button>
</div>