// Definición de colores y variables
$azul: #2C74CE;
$lila: #5555ffff;
$blanco: #fff;
$negro: #000000;
$negro-claro: #222;
$gris: #333;
$gris-claro: #ccc;
$verde: #8DB602; // Ajusta este color al tono verde de la imagen si es necesario

:root {
  --background-color: #102A0D;
  --snake-color: $verde;
  --food-color: #FE0000;
  --dpad-radius: 17%;
  --dpad-radius-in: 20%;
  --dpad-fg: $gris-claro;
  --dpad-fg-hover: #eee;
  --dpad-bg: $blanco;
  --arrowcolor: #aaa;
  --tri-sml-a: 13px;
  --tri-sml-b: 19px;
  --tri-lrg-a: 13px;
  --tri-lrg-b: 19px;
  --dpad-arrow-shift: 5px;
  --dpad-arrow-move: 35%;
}

// Mixin para botones
@mixin boton-base($bg-color: $verde, $text-color: #102A0D) {
  padding: 10px 20px;
  color: $text-color !important;
  border-radius: 20px;
  height: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  cursor: pointer;
  z-index: 99;
}

// Estrategia de reutilización para contenedores y tarjetas de puntuación
%flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  margin: 0;
  padding: 20px;
  color: $verde;
  @extend %flex-center-column;
  width: 100%;
  height: 100vh;
}

.inner-container {
  margin: 0;
  padding: 20px;
  color: $verde;
  @extend %flex-center-column;
  width: 100%;
  height: 100%;
}

.score-card {
  padding: 20px;
  color: $verde;
  @extend %flex-center-column;
  position: relative;
  
  .score-board {
    @extend %flex-center-column;
    position: relative;

    .score-number {
      font-size: 3em;
    }
  }
}

.game-board {
  background-color: #A8CA3F; // Ajuste del color verde según la imagen proporcionada
  width: 90vmin;
  height: 90vmin;
  max-width: 90vw;
  max-height: 90vh;
  display: grid;
  align-self: center;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  &.blur {
    filter: blur(4px);
  }
}

.restart-button {
  @include boton-base($verde, #102A0D);
}

.game-over {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #fed049;
  z-index: 1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $negro;
}

.game-over h1 {
  font-size: 3em;
}

// Estilos para ocultar los controles móviles en pantallas grandes
.inner-container .mobile-controls {
  display: none; // Oculta por defecto
}

// Estilos para el menú desplegable
.dropbtn {
  background-color: $lila;
  color: $blanco;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: $negro;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

// Media queries para responsividad
@media only screen and (max-width: 1025px) {
  .main-container, .score-card {
    flex-direction: column;
  }
  
  .inner-container .mobile-controls {
    // Los controles móviles se muestran solo en pantallas pequeñas
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $gris-claro;
    margin-top: 10px;
  }
}

// Estilo adicional para el botón de espacio
#espacio {
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2em;
  padding: 0.5em 1em;
  background-color: transparent;
  color: $verde;
  transition: border-color 0.2s ease-in-out;
  z-index: 1000;
  border: none;
  &:hover {
    color: $azul;
  }
}
