<div class="bdy">
	<!-- Título principal del aviso legal -->
	<h1>AVISO LEGAL DE AGT</h1>
	
	<!-- Sección introductoria -->
	<p>El presente aviso legal (en adelante, el "Aviso Legal") regula el uso de la web de AGT (www.agt.com)</p>
	<p>Asimismo, la utilización de la Web se encuentra sometida igualmente a todos los avisos, reglamentos de uso e instrucciones, puestos en conocimiento del Usuario por que sustituyen, completan y/o modifican el presente Aviso Legal.</p>
	<p>Con carácter general las relaciones entre AGT con los Usuarios de sus servicios telemáticos, presentes en la Web, se encuentran sometidas a la legislación y jurisdicción españolas.</p>
	<p>Para cualquier cuestión litigiosa ambas partes, AGT y el USUARIO, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, se someten a la jurisdicción y competencia exclusiva de los Juzgados y Tribunales de Sevilla (España).</p>
	<p>También podrán someter sus conflictos al arbitraje de consumo, mediante la adhesión de aquéllas al Sistema Arbitral de Consumo competente que se prestará también por medios electrónicos, conforme al procedimiento establecido reglamentariamente.
	  <br> Uso y acceso de Usuario.
	</p>
	<p>El Usuario queda informado, y acepta, que el acceso a la presente Web no supone, en modo alguno, el inicio de una relación comercial con AGT.</p>
	<p>AGT se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su Web, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en que éstos aparezcan presentados o localizados en sus servidores.</p>
	
	<!-- Sección sobre Propiedad Intelectual e Industrial -->
	<h2>Propiedad intelectual e industrial</h2>
	<p>Todos los contenidos del sitio Web www.agt.com (incluyendo, sin carácter limitativo, bases de datos, imágenes y fotografías, dibujos, gráficos y archivos de texto) son propiedad de AGT o de los proveedores de contenidos, habiendo sido, en este último caso, objeto de licencia o cesión por parte de los mismos, y están protegidos por las normas nacionales o internacionales de propiedad intelectual. La recopilación, diseño, ordenación y montaje de todo el contenido del sitio Web es propiedad exclusiva de AGT y se encuentra protegida por las normas nacionales e internacionales de propiedad industrial e intelectual.</p>
	<p>Las marcas, rótulos, signos distintivos o logos del sitio Web www.agt.com son titularidad de AGT y están debidamente registrados.</p>
	<p>Los textos, datos y dibujos gráficos son propiedad de AGT o de las entidades proveedoras de información, no pudiendo ser objeto de ulterior modificación, copia, transformación, alteración, reproducción, adaptación o traducción por parte de terceros, sin la expresa autorización por parte del titular de dicho contenido. La puesta a disposición de los textos, datos y dibujos gráficos no implica, en ningún caso, la cesión de su titularidad o la concesión de un derecho de explotación, reproducción, difusión, transformación, distribución, o transmisión a su favor, distinto del derecho de uso que comporta la utilización legítima de AGT.</p>
  
	<!-- Sección sobre Contenido de la Web y Enlaces -->
	<h2>Contenido de la web y enlaces (links)</h2>
	<p>AGT no se responsabiliza del mal uso que se realice de los contenidos de sus páginas Web, siendo exclusiva responsabilidad de la persona que accede a ellos o los utilice.</p>
	<p>Los titulares de otros sitios Web que deseen crear un hipervínculo a www.agt.com, se comprometen a no establecer enlaces a sitios Web en los que no aparezca el logotipo de AGT y a no realizar manifestaciones o indicaciones falsas, inexactas o incorrectas, que puedan inducir a error o, en general, que sean contrarias a las leyes.</p>
	<p>Los titulares de otros sitios Web que deseen crear un hipervínculo a www.agt.com asimismo se comprometen a no establecer hipervínculos a sitios Web que contengan contenidos, manifestaciones o propaganda de carácter racista, xenófobo, pornográfico, de apología del terrorismo y, en general, puedan atentar contra la moral o el orden público.</p>
	<p>AGT no se responsabiliza del contenido de los sitios Web a los que el usuario pueda acceder a través de los enlaces establecidos en sus páginas Web y declara que en ningún caso procederá a examinar o ejercer ningún tipo de control sobre el contenido de otros sitios de la red. Asimismo, tampoco garantiza la disponibilidad técnica, exactitud, veracidad, validez o legalidad de sitios ajenos a su propiedad a los que se pueda acceder por medio de los enlaces.</p>
	<p>AGT declara haber adoptado todas las medidas necesarias para evitar cualquier daño a los usuarios de su Web, que pudieran derivarse de la navegación por su página Web. En consecuencia, AGT no se responsabiliza, en ningún caso, de los eventuales daños que por la navegación por Internet pudiera sufrir el usuario.</p>
	
	<!-- Sección sobre Protección de Datos -->
	<h2>Protección de datos</h2>
	<p>AGT se encuentra profundamente comprometido con el cumplimiento de la normativa española de protección de datos de carácter personal, y garantiza el cumplimiento íntegro de las obligaciones dispuestas, así como la implementación de las medidas de seguridad dispuestas en el art. 9 de la Ley 15/1999, de Protección de Datos de Carácter Personal (LOPD) y en el Reglamento de Desarrollo de la LOPD.</p>
	<p>AGT pone a disposición de los Usuarios la Política de Privacidad de la entidad informándoles sobre los siguientes aspectos:</p>
	<ul>
	  <li>Datos del Responsable del tratamiento.</li>
	  <li>Datos tratados.</li>
	  <li>Fichero en el que se almacenan.</li>
	  <li>Finalidad del tratamiento.</li>
	  <li>Obligatoriedad o no de facilitarlos, así como las consecuencias en caso de no facilitarlos.</li>
	  <li>Sobre los derechos que asisten a todo Usuario y el procedimiento para ejercitarlos.</li>
	</ul>
  
	<!-- Sección sobre Legislación Aplicable y Jurisdicción -->
	<h2>Legislación aplicable y Jurisdicción</h2>
	<p>El presente Aviso Legal se rige por la legislación española. Para cualquier disputa que pueda surgir relacionada con la web o la actividad que se desarrolla en ella serán competentes los Juzgados de Sevilla, renunciando expresamente el Usuario a cualquier otro fuero que pudiera corresponderle.</p>
	
	<!-- Botón para volver a la página principal -->
	<button (click)="goHome()" name="boton" value="volver" id="espacio">Volver Atras</button>
  </div>
  