<div class="cuerpo-form">
  <div class="contact-wrapper">
    <div class="gradient-container">
      <div class="contact-form">
        <!-- Formulario Angular con ngSubmit y formGroup -->
        <form (ngSubmit)="entradausuario()" [formGroup]="newusuarioForm">
          
          <!-- Campo para el nombre de usuario -->
          <label for="nombre_user">Nombre Usuario:</label>
          <input class="inpt" id="nombre_user" formControlName="nombre_user" type="text" placeholder="Solo letras y números, 3-20 caracteres *">
          <br>
          <br>
          
          <!-- Campo para el nombre completo del usuario -->
          <label for="nombre_compl_user">Nombre completo:</label>
          <input class="inpt" id="nombre_compl_user" formControlName="nombre_compl_user" type="text" placeholder="Solo letras y espacios, 3-50 caracteres">
          <br>
          <br>
          
          <!-- Campo para el correo electrónico del usuario -->
          <label for="email">Correo electrónico:</label>
          <input class="inpt" id="email" formControlName="email" type="email" placeholder="ej: usuario@ejemplo.com *">
          <br>
          <br>
          
          <!-- Campo para la contraseña del usuario -->
          <label for="contrasenia">Contraseña:</label>
          <input class="inpt" id="contrasenia" formControlName="contrasenia" type="password" placeholder="Mínimo 8 caracteres, con al menos una letra y un número *">
          <br>
          <br><br>
          
          <!-- Botón de submit para enviar el formulario -->
          <input class="inpt-btn" type="submit" name="boton1" value="Añadir">

          <!-- Botón para volver atrás -->
          <button (click)="goBack()" name="boton" value="volver" id="espacio">Volver Atras</button>
    
        </form>
      </div>
    </div>
  </div>
</div>
