<div class="body1">
  <!-- Contenedor principal de la consulta de encuesta -->
  <div class="dropdown">
    <!-- Botón desplegable que muestra el nombre de usuario -->
    <button class="dropbtn">
      Usuario: <span style="text-transform: uppercase;">{{ session }}</span>
    </button>
    <div class="dropdown-content">
      <!-- Opciones del menú desplegable -->
      <a href="javascript:void(0)" (click)="cerrarSesion()">Cerrar Sesión</a>
      <a href="javascript:void(0)" (click)="cambiarUsuario()">Cambiar Usuario</a>
    </div>
  </div>

  <!-- Título de la sección de consulta de encuesta -->
  <h2>Consulta Encuesta</h2>

  <!-- Sección de formulario con los resultados -->
  <div class="form">
    <h2>Tienda: {{ tienda }}</h2>
    <div class="resultados">
      <h2>Resultados:</h2>
      <!-- Itera sobre las preguntas y muestra los resultados -->
      <div *ngFor="let pregunta of preguntas" class="pregunta">
        <p>
          {{ pregunta.texto }} 
          Sí ({{ porcentajes[pregunta.clave].si | number:'1.0-2' }}%), 
          No ({{ porcentajes[pregunta.clave].no | number:'1.0-2' }}%)
        </p>
      </div>
    </div>
  </div>

  <!-- Botón para volver atrás -->
  <button (click)="goHome()" name="boton" value="volver" id="espacio">Volver Atrás</button>
</div>
